@{
    Layout = "_MyAccount";
    List<Cv> cvs = ViewBag.Allcv;
    List<Vacans> vacans = ViewBag.Allvacans;
}
@if (TempData["Edited"] != null)
{
    if ((bool)TempData["Edited"] == true)
    {
        <input type="hidden" id="editedSuccess" />
    }
    else
    {
        <input type="hidden" id="editedError" />

    }
}
@if (TempData["Create"] != null)
{
    if ((bool)TempData["Create"] == true)
    {
        <input type="hidden" id="createSuccess" />
    }
    else
    {
        <input type="hidden" id="createError" />

    }
}
<div class="account">
    <div class="account_bar">
        <a asp-controller="myaccount" asp-action="index" class="logo" aria-label="hellojob">
            <img src="~/assets/images/night_mode_logo.svg" alt="" />
        </a>
        <ul class="myprofile">

            <li>
                <a  asp-controller="myaccount" asp-action="index">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user2.svg"
                             alt="" />
                    </span>
                    Profilim
                </a>
            </li>
            <li>
                <a asp-controller="myaccount" asp-action="myrequest">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg"
                             alt="" />
                    </span>
                    Müraciətlər
                </a>
            </li>
            <li>
                <a class="active" asp-controller="myaccount" asp-action="myorder">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg"
                             alt="" />
                    </span>
                    Gözləmədə olan elanlar
                </a>
            </li>

            <li>
                <a asp-controller="myaccount" asp-action="mysticker">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg"
                             alt="" />
                    </span>
                    Elanlarım
                </a>
            </li>
            <li>
                <a asp-controller="myaccount" asp-action="wishlistpage">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/heart2.svg"
                             alt="" />
                    </span>
                    Bəyəndiklərim
                </a>
            </li>
            <li>
                <a asp-controller="myaccount" asp-action="security">
                    <span>
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/shield.svg"
                             alt="" />
                    </span>
                    Təhlükəsizlik
                </a>
            </li>
            @if (User.IsInRole(UserRole.business.ToString()))
            {
                <li>
                    <a asp-controller="myaccount" asp-action="createvacans">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/shield.svg"
                                 alt="" />
                        </span>
                        Vakansiya Yerləşdir
                    </a>
                </li>
                <li>
                    <a asp-controller="myaccount" asp-action="creatingcompany">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/shield.svg"
                                 alt="" />
                        </span>
                        Şirkət Yarat
                    </a>
                </li>
                <li>
                    <a asp-controller="myaccount" asp-action="mycompany">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                 alt="" />
                        </span>
                        Şirkətlərim
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a asp-controller="myaccount" asp-action="createcv">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                 alt="" />
                        </span>
                        Cv yerləşdir
                    </a>
                </li>
            }

        </ul>
        <div class="backsite">
            <a asp-controller="home" asp-action="index"
               class="btn btn-site btn-transparent d-md-none">Sayta keçid et</a>
        </div>
    </div>
    <div class="account_content">
        <div class="account_head">
            <div class="account_head_tools">
                <a asp-controller="home" asp-action="index"
                   class="btn btn-site btn-transparent d-none d-md-block">Sayta keçid et</a>
                <div class="account_head_user">
                    <a href="./account.html" class="profile__header__user__name">
                        <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user.svg"
                             alt="" />
                        <span>@ViewBag.User.FullName</span>
                    </a>
                    <ul class="account_head_user_drop">
                        <li><a asp-controller="myaccount" asp-action="mysticker">Mənim elanlarım</a></li>
                        <li>
                            <a asp-controller="myaccount" asp-action="security">Şəxsi məlumatlar</a>
                        </li>
                        <li><a asp-controller="account" asp-action="logout">Çıxış</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="orders">
            <div class="title">
                <h1>Gözləmədə Olanlar</h1>
            </div>
            <div class="myorder">
                <div class="container border border-secondary-subtle">
                    @if (User.IsInRole(UserRole.employeer.ToString()))
                    {
                        @await Html.PartialAsync("_CvorderPartial",cvs)
                    }
                    else
                    {
                        @await Html.PartialAsync("_VacansorderPartial",vacans)
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile_account d-md-none d-lg-none">
    <div class="head ">
        <div class="hamburgers icons">
            <i class="bi bi-list"></i>
        </div>
        <div class="logo">
            <div class="image">
                <img src="~/assets/images/night_mode_logo.svg" alt="" />
            </div>
        </div>
        <div class="person icons">
            <i class="bi bi-person-fill person_icon"></i>
        </div>
    </div>
    <div class="body">
        <div class="persons_menu">
            <div class="account_head_user">
                <ul>
                    <li><a asp-controller="myaccount" asp-action="index">@ViewBag.User.FullName</a></li>
                    <li><a asp-controller="myaccount" asp-action="mysticker">Mənim elanlarım</a></li>
                    <li>
                        <a asp-controller="myaccount" asp-action="security">Şəxsi məlumatlar</a>
                    </li>
                    <li><a asp-controller="account" asp-action="logout">Çıxış</a></li>
                </ul>
            </div>
        </div>
        <div class="hamburgers_menu">
            <ul class="myprofile">
                <li>
                    <a  asp-controller="myaccount" asp-action="index">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/user2.svg"
                                 alt="" />
                        </span>
                        Profilim
                    </a>
                </li>
                <li>
                    <a asp-controller="myaccount" asp-action="myrequest">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg"
                                 alt="" />
                        </span>
                        Müraciətlər
                    </a>
                </li>
                @if (User.IsInRole(UserRole.business.ToString()))
                {
                    <li>
                        <a asp-controller="myaccount" asp-action="createvacans">
                            <span>
                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                     alt="" />
                            </span>
                            Vakansiya yerləşdir
                        </a>
                    </li>
                    <li>
                        <a asp-controller="myaccount" asp-action="creatingcompany">
                            <span>
                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                     alt="" />
                            </span>
                            Şirkət Yarat
                        </a>
                    </li>
                    <li>
                        <a asp-controller="myaccount" asp-action="mycompany">
                            <span>
                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                     alt="" />
                            </span>
                            Şirkətlərim
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-controller="myaccount" asp-action="createcv">
                            <span>
                                <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/cv.svg"
                                     alt="" />
                            </span>
                            Cv yerləşdir
                        </a>
                    </li>
                }
                <li>
                    <a class="active" asp-controller="myaccount" asp-action="myorder">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg"
                                 alt="" />
                        </span>
                        Gözləmədə olan elanlar
                    </a>
                </li>
                <li>
                    <a asp-controller="myaccount" asp-action="mysticker">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/megaphone.svg"
                                 alt="" />
                        </span>
                        Elanlarım
                    </a>
                </li>
                <li>
                    <a asp-controller="myaccount" asp-action="wishlistpage">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/heart2.svg"
                                 alt="" />
                        </span>
                        Bəyəndiklərim
                    </a>
                </li>
                <li>
                    <a asp-controller="myaccount" asp-action="security">
                        <span>
                            <img src="https://www.hellojob.az/content/assets/images/profile/svg-icons/shield.svg"
                                 alt="" />
                        </span>
                        Təhlükəsizlik
                    </a>
                </li>
            </ul>
            <div class="backsite">
                <a asp-controller="Home" asp-action="index"
                   class="btn btn-site btn-transparent d-md-none">Sayta keçid et</a>
            </div>
        </div>
        <div class="account_content">
            <div class="orders">
                <div class="title">
                    <h1>Gözləmədə Olanlar</h1>
                </div>
                <div class="myorder">
                    <div class="container border border-secondary-subtle">
                        <table class="table caption-top">
                            <caption>Gözləmədə olan elanlar</caption>
                            <thead>
                                <tr>
                                    <th scope="col">№</th>
                                    <th scope="col">Ad</th>
                                    <th scope="col">Soyad</th>
                                    <th scope="col">E-poçt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            if ($("#editedSuccess").length) {
                toastr["success"]("You have successfully joined us!", " edited")
            }
            else if ($("#editedError").length) {
                toastr["error"]("Something went wrong!", "Upsss Sorry")
            }
        })
    </script>
    <script>
        $(document).ready(function () {
            if ($("#createSuccess").length) {
                toastr["success"]("You have successfully joined us!", " created")
            }
            else if ($("#createError").length) {
                toastr["error"]("Something went wrong!", "Upsss Sorry")
            }
        })
    </script>
}