@{
    ViewBag.Title = "Liked page";
}

<section id="liked">
    <section id="titles_and_bgblue">
        <div class="blueback"></div>
        <div class="container">
            <div class="row">
                <div class="titles col-lg-12 col-md-12">
                    <div class="two_side_bridge">
                        <h3>Seçilmişlər</h3>
                        <ul>
                            <li>
                                <a asp-controller="home" asp-action="index">Əsas səhifə </a>
                            </li>
                            <li>
                                <a asp-controller="liked" asp-action="index">Bəyəndiklərim</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section id="base">
    <div class="liked_cv">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 ">
                    <div class="title">
                        <a style="cursor: pointer;" class="vacancy-link">Vakansiyalar <span>1 </span></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 ">
                    <div class="title">
                        <a style="cursor: pointer;" class="cv-link">CV-lər <span> 1</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="vacans_cv">
    <div class="likedVacans">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="liked_vacans">
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/muxtelif-cat-6414343d74be26414343d74bed-Q30Ca59zmtb--84.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>Bağban</h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary">500 - 500 AZN</span>
                                    <span class="date">Dünən 11:29</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="liked_cv">
                        <div class="vacancies">
                            <div class="vacancies_href">
                                <a href="">
                                    <div class="item_left">
                                        <div class="icon">
                                            <img src="https://www.hellojob.az/uploads/_categories/2023/03/17/dizayn-cat-64143423043a064143423043ab-dW7E0i95SRjZ4mG.svg" alt="Bağban">
                                        </div>
                                        <div class="title">
                                            <h3>Devops</h3>
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                                <div class="item_right">
                                    <span class="salary">500 - 500 AZN</span>
                                    <span class="date">Dünən 11:29</span>
                                    <span class="like">
                                        <i class="fa-regular fa-heart unliked"></i>
                                        <i class="fa-solid fa-heart liked"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="sticky_element">
                        <div class="reclams">
                            <img src="https://www.hellojob.az/uploads/banners/2023/05/01/kapital-bank-banner-644f848092e7a-9bb97ce3487c22cc702dcd5e0ccb309f644f848092e8e-aryZtKUi6v_De5r.jpg" alt="">
                        </div>
                        <div class="companies">
                            <div class="company">
                                <a href="~/companydetail.html">
                                    <div class="images">
                                        <img src="https://www.hellojob.az/uploads/company/min/2021/09/14/61409f490f31b-gn4S-uC-ECn51mv.jpg" alt="Kapital Bank" class="image">
                                    </div>
                                    <p>36 vakansiya</p>
                                </a>

                            </div>
                            <div class="company">
                                <a href="~/companydetail.html">
                                    <div class="images">
                                        <img src="https://www.hellojob.az/uploads/company/min/2021/09/14/6140a01fbb1a9-R_o63qMnR_BeT_p.jpg" alt="PASHA Bank" class="image">
                                    </div>
                                    <p>25 vakansiya</p>
                                </a>

                            </div>
                            <div class="company">
                                <a href="~/companydetail.html">
                                    <div class="images">
                                        <img src="https://www.hellojob.az/uploads/company/min/2021/09/05/6109511b552b4-8X-PcUZWa58l2-i.png" alt="Xalq Bank" class="image">
                                    </div>
                                    <p>20 vakansiya</p>
                                </a>
                            </div>
                            <div class="company">
                                <a href="~/companydetail.html">
                                    <div class="images">
                                        <img src="https://www.hellojob.az/uploads/company/min/2021/09/29/61548ddd3c469-iF_04-QSR3PU3W-.jpg" alt="AccessBank" class="image">
                                    </div>
                                    <p>15 vakansiya</p>
                                </a>
                            </div>
                            <div class="company">
                                <a href="~/companydetail.html">
                                    <div class="images">
                                        <img src="https://www.hellojob.az/uploads/company/min/2021/03/02/6038f2d221bd1-Mx_Gdq7mSi7MLA_.jpg" alt="Güvənli MMC" class="image">
                                    </div>
                                    <p>8 vakansiya</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


@section Script{
    <script src="~/assets/js/wishlist.js"></script>
}