@model LoginVM

<div class="login">
    <form asp-controller="Account" asp-action="Login">
        <div class="inputs_lg form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" placeholder="E-poçtunuzu yazın">
            <span asp-validation-for="UserName"></span>

        </div>
        <div class="inputs_lg form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" placeholder="********">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="log_foot">
            <div class="rememberme form-group">
                <input asp-for="RememberMe">
                <span>Yadda saxla</span>
            </div>
            <a href="" class="regs_bopup_open">Şifrəni unutmuşam</a>

        </div>
        <div class="buttons_sbmt">
            <div class="login_submit">
                <button type="submit">Daxil ol</button>
            </div>
            <div class="goRegister">
                <button type="submit">Qeydiyyatdan keç</button>
            </div>
        </div>
    </form>
</div>