@{
    ViewBag.Title = "Company page";
}
@model List<Company>
<section id="companies">
    <section id="titles_and_bgblue">
        <div class="blueback"></div>
        <div class="container">
            <div class="row">
                <div class="titles col-lg-12 col-md-12">
                    <div class="two_side_bridge">
                        <h3>Şirkətlər</h3>
                        <ul>
                            <li>
                                <a asp-controller="home" asp-action="index">Əsas səhifə </a>
                            </li>
                            <li>
                                <a asp-controller="company" asp-action="index">Şirkətlər</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5">
                    @foreach (Company company in Model)
                    {
                        <div class="company_card col-md-4 col-lg-3">
                            <div class="company_box">
                                <a asp-controller="company" asp-action="detail" asp-route-id="@company.Id" class="full">
                                    <div>
                                        <div class="company_images" >
                                            <div class="image">
                                                <img src="~/assets/images/Company/@company.Image"
                                                     alt="@company.Name" />
                                            </div>
                                        </div>
                                        <p>@company.Name</p>
                                        <p>Vakansiya sayı <span>@company.Vacans.Count()</span> </p>
                                    </div>
                                </a>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </section>
</section>